<!DOCTYPE html>
<html lang="en">
<head>
    <title>HOME</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet"
          href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet"
          href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <script
            src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script src="/book.js"></script>
    <script src="../routes/books.js" ></script>
    <link rel="stylesheet" type="text/css" href="/stylesheets/searchStyle.css">
    
</head>
<body>
<nav class="navbar navbar-inverse">
    <div class="container-fluid">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse"
                    data-target="#myNavbar">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
        </div>
        <div class="collapse navbar-collapse" id="myNavbar">
            <ul class="nav navbar-nav">
                <li><a href="/search2">Home</a></li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
                <li><a href="/login">Login</a></li>
                <li><a href="/register">Sign up</a></li>
            </ul>
        </div>
    </div>
</nav>
    <tr>
        <th style="font-weight: bold">Book title: <%= book.title %></th>
        <br>
        <br/>
        <td style="color: black; font-weight: bold">About: <%= book.description %></td>
        <br>
        <br>
        <td>Number of pages: <%= book.pagecount %></td>
        <br>
        <br>
        <td>Published year: <%= book.publishedDate %></td>
        <br>
        <br>
        <td>Price:<%= book.priceAmount%></td>
        <br>
        <br>
        <td>Number of Pages:<%= book.pagecount %></td>
        <br>
        <br>
        <td>Categories: <%= book.categories %></td>
        <br>
    </tr>
%>
<!--<form action="/books/get-reviews" method="post">
    <button class = "button btn-default" value="" onclick="" type="button">View reviews</button>
</form>-->
    <form action="/books/get-reviews" method="post">
        <input type="submit" name="<% book.id %>" value="Get reviews" />
    </form>
<button class = "button btn-default" type="submit">Add to cart</button>
</body>
</html>