<%- include('header') %>
<tr>
  <th style="font-weight: bold">Book title: <%= book.title %></th>
  <br />
  <br />
  <td style="color: black; font-weight: bold">
    About: <%= book.description %>
  </td>
  <br />
  <br />
  <% if(user) { %> 
  <td>User Name: <%= user.username %></td>
  <% } %>
  <br />
  <br />
  <td>Number of pages: <%= book.pagecount %></td>
  <br />
  <br />
  <td>Published year: <%= book.publishedDate %></td>
  <br />
  <br />
  <td>Price:<%= book.priceAmount%></td>
  <br />
  <br />
  <td>Number of Pages:<%= book.pagecount %></td>
  <br />
  <br />
  <td>Categories: <%= book.categories %></td>
  <br />
</tr>
%>
<!--<form action="/books/get-reviews" method="post">
    <button class = "button btn-default" value="" onclick="" type="button">View reviews</button>
</form>-->
<form action="/books/get-reviews" method="post">
  <input type="submit" name="<% book.id %>" value="Get reviews" />
</form>
<button class="button btn-default" type="submit">Add to cart</button>
<%- include('footer') %>
